.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-tight {
    text-align: center;
  }
  
  .empty-image {
    margin-bottom: 20px; 
  }
  
  .center-image {
    max-width: 100%;
    height: auto;
  }
  